{extend name="base" /}
{block name="contact"}
<a href="{:url('index/contact/index')}" class="active list-group-item list-group-item-action waves-effect">
    <i class="fas fa-map mr-3"></i>联系人管理</a>
{/block}

{block name="main"}

<!--Grid row-->
<div class="row wow fadeIn">
    <div style="text-align: center;margin-left:40%;"><h2 class="page-title">联系人搜索</h2></div>
    <div class="col-md-12">
        <div class="collapse show" id="searchForm">
            <div class="card">
                <form class="form-horizontal" action="searchResult" method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding: 20px">
                            <h6 class="panel-title">联系人搜索</h6>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">关键词</label>
                                <div class="col-sm-9">
                                    <input type="text" name="keywords" class="form-control"
                                           placeholder="请输入任意联系人信息进行搜索...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 25px">
                        <button class="btn btn-primary" type="submit">搜索</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="text-align: center;margin-left:40%;"><h2 class="page-title">新增联系人</h2></div>
    <div class="col-md-12">
        <div id="cargo" class="collapse show">
            <div class="card">
                <form class="form-horizontal" id="form" action="addContact" method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding: 20px">

                        </div>
                        <div class="panel-body">
                            <div class="form-group" style="padding-left: 26px">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="" class="col-sm-5 control-label">联系人姓名</label>
                                        <input type="text" name="name" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-sm-5">
                                        <label for="" class="col-sm-5 control-label">联系人称谓</label>
                                        <input type="text" name="title" class="form-control"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="" class="col-sm-5 control-label">联系人手机</label>
                                        <input type="text" name="phone" class="form-control"
                                               placeholder="">
                                    </div>
                                    <div class="col-sm-5">
                                        <label for="" class="col-sm-5 control-label">联系人电话</label>
                                        <input type="text" name="telephone" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="" class="col-sm-5 control-label">联系人传真</label>
                                        <input type="text" name="fax" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-sm-5">
                                        <label for="" class="col-sm-5 control-label">联系人电子邮箱</label>
                                        <input type="text" name="email" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 25px">
                        <button class="btn btn-primary" type="submit">确定新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="text-align: center;margin-left:38%;margin-top: 20px;"><h2 class="page-title">现有联系人管理</h2></div>

    <!--Grid column-->
    <div class="col-md-12">

        <!--        <div>-->
        <!--            <button type="button" class="btn btn-primary">增加货物</button>-->
        <!--        </div>-->

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body">

                <!-- Table  -->
                <table class="table table-hover">
                    <!-- Table head -->
                    <thead class="blue-grey lighten-4">
                    <tr style="text-align: center">
                        <th>编号</th>
                        <th>姓名</th>
                        <th>称谓</th>
                        <th>手机</th>
                        <th>电话</th>
                        <th>传真</th>
                        <th>邮箱</th>
                        <th>客户</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <!-- Table head -->

                    <!-- Table body -->
                    <tbody>
                    {foreach name='contact' key='key' item='vo'}
                    <tr style="border-bottom: 1px solid #dee2e6; text-align: center;">
                        <td>{$vo['contact_id']}</td>
                        <td>{$vo['name']}</td>
                        <td>{$vo['title']}</td>
                        <td>{$vo['phone']}</td>
                        <td>{$vo['telephone']}</td>
                        <td>{$vo['fax']}</td>
                        <td>{$vo['email']}</td>
                        <td>{$vo['custom_name']}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" onclick="del({$vo['contact_id']})">删除</button>
                            <button class="btn btn-primary btn-sm" onclick="change({$vo['contact_id']})">修改</button>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                    <!-- Table body -->
                </table>
                <!-- Table  -->

            </div>

        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->


</div>
<!--Grid row-->

{/block}

{block name="script"}
<script>
    function del(contact_id) {
        if (confirm('确定要删除吗？')) {
            location.href = "{:url('del')}" + '?contact_id=' + contact_id;
        } else {

        }
    }

    function change(contact_id) {
        location.href = "{:url('change')}" + '?contact_id=' + contact_id;
    }
</script>
{/block}